h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 250%;
  font-weight: bold;
  color: black;
  margin: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h4 {
  font-family: 'Josefin Slab', serif;
  font-size: 150%;
  margin: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body {
  font-family: 'Josefin Slab', serif;
  font-size: large;
  background-color: e8d3ff;
  margin: 0;
}

p {
  margin: 2rem;
}


div.navbar {
  overflow: hidden;
  background-color: #333;
}

div.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

div.navbar a.right {
  float: right;
}

div.navbar a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #666;
  height: 80px;
  padding: 20px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;
}

.social-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #666;
  background-color: white;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}

.social-icon:hover {
  color: #222;  /* change color when hover over the link */
}
