h1 {
  margin-left: 1rem;
  font-size: 250%;
  font-weight: bold;
}

h4 {
  margin-left: 1rem;
  font-size: 150%;
}

body {
  padding-top: 5rem;
  background-color: white;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
div.text {
  position:absolute;

}
